header { 
  background: red;
}
nav { 
  background: blue;
}
footer { 
  background: brown;
}
section > div:first-child { 
  background: green;
}
section > div:last-child { 
  background: lightgreen;
}
figure > div:first-child { 
  background: purple;
}
figure > div:nth-child(2) { 
  background: violet; 
}
figure> div:nth-child(3) { 
  background: pink;
}
figure> div:last-child { 
  background: lightsalmon;
}

/* jquery to change the colors for bigger screen */

.color1 { 
  background: papayawhip;
  display: hidden;
}
.color2 { 
  background: aquamarine;
}
.color3 { 
  background: beige;
}
.color4 { 
  background: chartreuse; 
}
.color5 { 
  background: darkcyan;
}
.color6 { 
  background: fuchsia;
}
.color7 { 
  background: gold;
}
.color8 { 
  background: honeydew;
}
.color9 { 
  background: mediumpurple;
}